<div class="container" style="margin-top: 10%">
  <div class="columns is-centered">
    <div
      class="box column is-one-third"
      style="background-color: rgb(201, 229, 236)"
    >
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input
          class="input"
          (input)="onSelectPasswordLength($event.target.value)"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onSelectLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onSelectNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onSelectSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(
            passwordLength &&
            (includLetters || includeSymbols || inlcudeNumbers)
          )
        "
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
